<footer class="bg-gray-900/90 backdrop-blur-md shadow-lg w-full bottom-0 left-0 text-center py-6">
  <div class="container mx-auto px-6">
    
    <!-- REDES SOCIALES -->
    <div class="flex justify-center space-x-6 mt-6">
      <a href="https://www.facebook.com/softwarecrafter" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faFacebook" class="text-blue-400 text-4xl hover:text-blue-300 transition duration-300"></fa-icon>
      </a>
      <a href="https://www.instagram.com/softwarecrafters?igsh=MWg4Y2ZuNzltdXNkYw%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faInstagram" class="text-blue-400 text-4xl hover:text-blue-300 transition duration-300"></fa-icon>
      </a>
      <a href="https://gadgetgoodiess.blogspot.com/" target="_blank" rel="noopener noreferrer">
        <fa-icon [icon]="faBlog" class="text-blue-400 text-4xl hover:text-blue-300 transition duration-300"></fa-icon>
      </a>
    </div>

    <!-- COPYRIGHT -->
    <p class="text-gray-400 text-lg mt-6">
      © {{ currentYear }} Software Crafters. Todos los derechos reservados.
    </p>

  </div>
</footer>
